.venv/lib/python3.12/site-packages/pip/__pycache__/__init__.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/__pycache__/__main__.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/__pycache__/__pip-runner__.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/__pycache__/build_env.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/__pycache__/__init__.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/__pycache__/cache.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/__pycache__/configuration.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/__pycache__/exceptions.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/__pycache__/main.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/__pycache__/pyproject.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/__pycache__/self_outdated_check.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/__pycache__/wheel_builder.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/autocompletion.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/base_command.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/cmdoptions.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/command_context.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/main_parser.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/parser.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/main.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/progress_bars.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/req_command.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/spinners.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/status_codes.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/cache.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/__init__.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/check.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/completion.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/configuration.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/debug.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/download.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/hash.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/freeze.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/help.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/index.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/list.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/install.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/inspect.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/search.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/show.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/uninstall.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/commands/__pycache__/wheel.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/distributions/__pycache__/__init__.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/distributions/__pycache__/base.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/distributions/__pycache__/installed.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/distributions/__pycache__/sdist.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/distributions/__pycache__/wheel.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/index/__pycache__/__init__.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/index/__pycache__/collector.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/index/__pycache__/package_finder.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/index/__pycache__/sources.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/locations/__pycache__/__init__.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/locations/__pycache__/_distutils.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/locations/__pycache__/_sysconfig.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/locations/__pycache__/base.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/metadata/__pycache__/__init__.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/metadata/__pycache__/pkg_resources.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/metadata/__pycache__/base.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/metadata/__pycache__/_json.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/metadata/importlib/__pycache__/__init__.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/metadata/importlib/__pycache__/_compat.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/metadata/importlib/__pycache__/_dists.cpython-312.pyc
.venv/lib/python3.12/site-packages/pip/_internal/metadata/importlib/__pycache__/_envs.cpython-312.pyc
